<div class="container">
  <p>Get these flashcards right, deal with it.</p>

  <% unless current_user %>
    <ul>
      <li><a href="/sign_in">Login</a></li>
      <li><a href="/sign_up">Create Account</a></li>
    </ul>
  <% end %>

</div>
