<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Team VIM!</title>
</head>

<body>

  <header>
    <nav class="nav_cont">
      <h1><a href='/'>Team VIM</a></h1>
    </nav>
  </header>

  <div class="round">
    <% if current_user != nil %>
      <p>You are logged in as: <a href="/user_page"><%=current_user.full_name%></a></p>
    <% end %>
    <% if current_round != nil %>
      <p>The current round is: <%= current_round.id %></p>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
