<div class="container">
  <p>Start answering questions, deal with it.</p>

  <h2>Here's your question:</h2>

  <h3><%= @card.question %></h3>

  <form id ="answer" action="/answer" method="post">
  <h4>Your answer:</h4>

    <input class="textbox" type="text" name="answer" placeholder="Enter your answer here!">
    <input type="hidden" name="card_id" value="<%= @card.id %>"><br>
    <input type="submit" value="submit answer">
  </form>

  <p><a href="/quit_round">Quit Round</a></p>

</div>
