<div class="container">
  <p>This is your Account page, deal with it.</p>

  <h2>Start a Game.</h2>

  <form id ="choose_deck" action="/question" method="post">
    <select name="decks" value="Select your Deck">
      <% Deck.all.each do |deck| %>
      <option value="<%=deck.name%>"><%=deck.name%></option>
      <% end %>
    </select>
    <input type="submit" value="start">
  </form>

  <h2>Your results, deal with it:</h2>
  <%current_user.get_stats.each do |set|%>
  <p class="result"><strong><%= set[0] %></strong>: <span class="round_percentage"><%= set[1] %></span></p>
  <%end%>
  <p><a href="/logout">Sign Out.</a></p>

</div>
